   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box
    }
    .my_car {
      position: absolute;
      background-color: blue;
      height: 50px;
      width: 50px;
      /*top: 453px;*/
    }
    .carro1 {
      position: absolute;
      z-index: 1;
      background-color: yellow;
      /*height: 50px;*/
      width: 50px;
      /*left: 168px;*/
      
    }
    .carro2 {
      position: absolute;
      background-color: yellow;
      height: 50px;
      width: 50px;
      z-index: 1;
    }
    .carro3 {
      position: absolute;
      background-color: yellow;
      height: 50px;
      width: 50px;
      z-index: 1;
    }
    
    .pai_jogo {
      background-color: red;
      height: 70vh;
    }
    
    .flex {
      display: flex;
      flex-direction: row;
    }
    
    .esconder {
      position: relative;
      z-index: 2;
      height: 50px;
      width: 100vw;
      background-color: green;
    }
    
    .pai_button {
      height: 10vh;
      background-color: lightgray;
      
    }
    
    .esquerda, .direita {
      display: inline-block;
      position: relative;
      z-index: 2;
      width: 49%;
      height: 100%;
      background-color: lightgrey;
      border: none;
    }
    .esquerda {
      left: 4px;
      border-right: 1px solid black;
    }
