   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box
    }
    
    .boneco {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 2;
      background-size: 75px 70px; /*x y*/
      background-position: -11px -9px; /*xy*/
      background-image: url('meuCarro.png')
      
    }
    .carro1 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      background-size: 70px 60px;
      background-position: -8px -5px;
      background-repeat: no-repeat;
      background-image: url('car1.png');
      z-index: 1;
      
    }
    
    .carro2 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      background-image: url('car2.png');
      background-size: 45px 55px;
      background-position: 3px -3px;
      background-repeat: no-repeat;
      z-index: 1;
    }
    
    .carro3 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 1;
      background-image: url('car3.png');
      background-size: 70px 60px;
      background-position: -8px -4px;
    }
    
    .carro4 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 1;
      background-image: url('car4.png');
      background-size: 80px 80px;
      background-position: -13px -17px;
    }
    
    .carro5 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 1;
      background-image: url('bmx5.png');
      background-size: 35px 55px;
      background-position: 7px -5px;
      background-repeat: no-repeat;
    }
    
    .carro6 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 1;
      background-image: url('car6.png');
      background-size: 65px 52px;
      background-position: -6px -1px;
    }
    
    .carro7 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 1;
      background-image: url("doodad7.png");
      background-size: 60px 60px;
      background-position: -3px -1px;
      background-repeat: no-repeat;
    }
    
    .carro8 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 1;
      background-image: url("car8.png");
      background-size: 70px 60px;
      background-position: -9px -4px;
      background-repeat: no-repeat;
    }
    
    .carro9 {
      position: absolute;
      background-color: none;
      height: 50px;
      width: 50px;
      z-index: 1;
      background-image: url("moto9.png");
      background-size: 40px 70px;
      background-position: 8px -10px;
      background-repeat: no-repeat;
    }
    
    .faixa1 {
      position: relative;
      background-color: dimgray;
      height: 100%;
      width: 15px;
      left: 117px;
      top: 0px;
      margin-bottom: 15px;
      border-right: 10px dashed yellow;
    }
    
    .faixa2 {
      position: relative;
      background-color: dimgray;
      height: 100%;
      width: 15px;
      left: 248px;
      top: -520px;
      border-right: 10px dashed yellow;
    }
    
    .pai_jogo {
      background-color: dimgrey;
      height: 505px;
      width: 384px;
    }
    
    .pai_button {
      position: relative;
      z-index: 2;
      height: 80px;
      width: 384px;
      background-color: lightgray;
    }
    
    .esquerda, .direita {
      display: inline-block;
      position: relative;
      z-index: 2;
      width: 49%;
      height: 100%;
      background-color: lightgrey;
      border: none;
    }
    
    .esquerda {
      border-right: 1px solid black;
      left: 4px;
    }
